policy_module(digitalaustraliandollar, 1.100.1)

########################################
#
# Declarations
#

type digitalaustraliandollar_t;
type digitalaustraliandollar_exec_t;
init_daemon_domain(digitalaustraliandollar_t, digitalaustraliandollar_exec_t)

permissive digitalaustraliandollar_t;

type digitalaustraliandollar_initrc_exec_t;
init_script_file(digitalaustraliandollar_initrc_exec_t)

type digitalaustraliandollar_conf_t;
files_type(digitalaustraliandollar_conf_t)

type digitalaustraliandollar_var_lib_t;
files_type(digitalaustraliandollar_var_lib_t)

type digitalaustraliandollar_var_run_t;
files_type(digitalaustraliandollar_var_run_t)

type digitalaustraliandollar_port_t;
corenet_port(digitalaustraliandollar_port_t)

########################################
#
# digitalaustraliandollar local policy
#
allow digitalaustraliandollar_t self:process { fork };

allow digitalaustraliandollar_t self:fifo_file rw_fifo_file_perms;
allow digitalaustraliandollar_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(digitalaustraliandollar_t, digitalaustraliandollar_conf_t, digitalaustraliandollar_conf_t)
manage_files_pattern(digitalaustraliandollar_t, digitalaustraliandollar_conf_t, digitalaustraliandollar_conf_t)

manage_dirs_pattern(digitalaustraliandollar_t, digitalaustraliandollar_var_lib_t, digitalaustraliandollar_var_lib_t)
manage_files_pattern(digitalaustraliandollar_t, digitalaustraliandollar_var_lib_t, digitalaustraliandollar_var_lib_t)
files_var_lib_filetrans(digitalaustraliandollar_t, digitalaustraliandollar_var_lib_t, { dir file })

manage_dirs_pattern(digitalaustraliandollar_t, digitalaustraliandollar_var_run_t, digitalaustraliandollar_var_run_t)
manage_files_pattern(digitalaustraliandollar_t, digitalaustraliandollar_var_run_t, digitalaustraliandollar_var_run_t)

sysnet_dns_name_resolve(digitalaustraliandollar_t)
corenet_all_recvfrom_unlabeled(digitalaustraliandollar_t)

allow digitalaustraliandollar_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(digitalaustraliandollar_t)
corenet_tcp_sendrecv_generic_node(digitalaustraliandollar_t)
corenet_tcp_sendrecv_all_ports(digitalaustraliandollar_t)
corenet_tcp_bind_generic_node(digitalaustraliandollar_t)

gen_require(`
    type digitalaustraliandollar_port_t;
')
allow digitalaustraliandollar_t digitalaustraliandollar_port_t:tcp_socket name_bind;

gen_require(`
    type digitalaustraliandollar_port_t;
')
allow digitalaustraliandollar_t digitalaustraliandollar_port_t:tcp_socket name_connect;

domain_use_interactive_fds(digitalaustraliandollar_t)

files_read_etc_files(digitalaustraliandollar_t)

miscfiles_read_localization(digitalaustraliandollar_t)

sysnet_dns_name_resolve(digitalaustraliandollar_t)

allow digitalaustraliandollar_t digitalaustraliandollar_exec_t:file execute_no_trans;
allow digitalaustraliandollar_t self:process setsched;
corecmd_exec_ls(digitalaustraliandollar_t)
corenet_tcp_connect_http_port(digitalaustraliandollar_t)
dev_read_urand(digitalaustraliandollar_t)
fs_getattr_xattr_fs(digitalaustraliandollar_t)
kernel_read_system_state(digitalaustraliandollar_t)
